ion-list-header {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 1em;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 16px;
}

ion-label h2 {
  font-weight: 500;
  margin-bottom: 0.5em;
}

ion-label p {
  color: var(--ion-color-medium);
  font-size: 0.9em;
} 