<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inventory" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ item.id ? 'Edit Item' : 'Add Item' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveItem()" [disabled]="!item.description">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="saveItem()">
    <div class="photo-section">
      <div class="photo-container" *ngIf="!item.photoData" (click)="takePhoto()">
        <div class="photo-placeholder">
          <ion-icon name="camera-outline"></ion-icon>
          <span>Add Photo</span>
        </div>
      </div>
      <div class="photo-preview" *ngIf="item.photoData">
        <img [src]="item.photoData" alt="Item photo">
        <div class="photo-actions">
          <ion-button fill="clear" (click)="takePhoto()">
            <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="selectPhoto()">
            <ion-icon slot="icon-only" name="images-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>

    <div class="form-section">
      <ion-list>
        <ion-item lines="none">
          <ion-label position="stacked">Description</ion-label>
          <ion-input [(ngModel)]="item.description" 
                     name="description" 
                     required
                     placeholder="What are you freezing?"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Storage Date</ion-label>
          <ion-datetime-button datetime="storageDate"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime 
                id="storageDate"
                [(ngModel)]="item.storageDate" 
                name="storageDate" 
                presentation="date"
                required></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Expiry Date</ion-label>
          <ion-datetime-button datetime="expiryDate"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime 
                id="expiryDate"
                [(ngModel)]="item.expiryDate" 
                name="expiryDate" 
                presentation="date"
                required></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Plan to Consume</ion-label>
          <ion-toggle [(ngModel)]="item.isPlannedForConsumption" name="isPlannedForConsumption"></ion-toggle>
        </ion-item>

        <div *ngIf="item.isPlannedForConsumption">
          <ion-item lines="none">
            <ion-label position="stacked">Planned Consumption Date</ion-label>
            <ion-datetime-button datetime="plannedDate"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime 
                  id="plannedDate"
                  [(ngModel)]="item.plannedConsumptionDate" 
                  name="plannedConsumptionDate"
                  presentation="date"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Defrost Time</ion-label>
            <div class="defrost-time-input">
              <ion-input 
                type="number" 
                [ngModel]="item.defrostTime?.value" 
                (ngModelChange)="updateDefrostTimeValue($event)"
                name="defrostTimeValue"
                min="1"
                placeholder="Enter time"></ion-input>
              <ion-select 
                [ngModel]="item.defrostTime?.unit" 
                (ngModelChange)="updateDefrostTimeUnit($event)"
                name="defrostTimeUnit"
                interface="popover">
                <ion-select-option value="minutes">Minutes</ion-select-option>
                <ion-select-option value="hours">Hours</ion-select-option>
                <ion-select-option value="days">Days</ion-select-option>
              </ion-select>
            </div>
          </ion-item>
        </div>

        <!-- Reminder Settings -->
        <ion-item-group>
          <ion-item lines="none">
            <ion-label>
              <h2>Expiry Reminder</h2>
              <p>Get notified before item expires</p>
            </ion-label>
            <ion-toggle [(ngModel)]="item.reminderSettings.expiryEnabled" name="expiryEnabled"></ion-toggle>
          </ion-item>

          <ion-item lines="none" *ngIf="item.isPlannedForConsumption">
            <ion-label>
              <h2>Defrost Reminder</h2>
              <p>Get notified when it's time to defrost</p>
            </ion-label>
            <ion-toggle [(ngModel)]="item.reminderSettings.defrostEnabled" name="defrostEnabled"></ion-toggle>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </div>
  </form>
</ion-content> 