<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inventory"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ item.id ? 'Edit Item' : 'Add Item' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveItem()" [disabled]="!item.description || !item.photoUrl">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveItem()">
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="item.photoUrl" *ngIf="item.photoUrl" alt="Item photo">
          <ion-icon name="camera" *ngIf="!item.photoUrl"></ion-icon>
        </ion-thumbnail>
        <ion-button fill="clear" (click)="takePhoto()">
          {{ item.photoUrl ? 'Change Photo' : 'Take Photo' }}
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-input [(ngModel)]="item.description" name="description" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Storage Date</ion-label>
        <ion-datetime [(ngModel)]="item.storageDate" name="storageDate" required></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Expiry Date</ion-label>
        <ion-datetime [(ngModel)]="item.expiryDate" name="expiryDate" required></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Defrost Time</ion-label>
        <ion-input [(ngModel)]="item.defrostTime" name="defrostTime" placeholder="e.g., 4 hours countertop"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Planned Consumption Date</ion-label>
        <ion-datetime [(ngModel)]="item.plannedConsumptionDate" name="plannedConsumptionDate"></ion-datetime>
      </ion-item>

      <ion-item *ngIf="item.plannedConsumptionDate">
        <ion-label>Set Reminder</ion-label>
        <ion-toggle [(ngModel)]="item.reminderEnabled" name="reminderEnabled"></ion-toggle>
      </ion-item>
    </ion-list>
  </form>
</ion-content> 